<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Lifjell opp – Midt-Telemarks tøffeste klatreritt">
  <meta property="og:description" content="Bli med på Lifjell opp – et kort men beinhardt klatreritt.">
  <meta property="og:image" content="https://www.lifjellopp.no/og-preview.jpeg">
  <meta property="og:url" content="https://www.lifjellopp.no/">
  <meta property="og:type" content="website">
  <title>{{ config.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/base.css">
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&family=Montserrat&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <nav>
    <div class="nav-container">
      <div class="site-logo">
        <a href="/">Hjem</a>
      </div>
      <div class="menu">
    {% for item in config.extra.menu_items %}
      <a href="{{ item.path }}">{{ item.name }}</a>
      {% endfor %}
      </div>
    </div>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block extra %}{% endblock %}
  <footer>
    <span>Skarphedin&nbsp;Sykkel</span>
    <span>•</span>
    <span>
      <a href="tel:+4747900085">
        <i class="fas fa-phone fa-lg"></i>
      </a>
    </span>
    <span>•</span>
    <span>
      <a href="mailto:sykkel@skarphedin.no">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </span>
    <span>•</span>
    <span>
      <a href="https://www.facebook.com/groups/1457721744464345/user/61559432597591">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
    </span>
  </footer>
</body>
</html>
