{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/gallery.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  {{ page.content | safe }}

  <div class="gallery-grid">
    {% set gallery = load_data(path="data/gallery.toml") %}
    {% set image_base_url = get_env(name = "GALLERY", default=config.extra.image_base_url) %}
    {% for img in gallery.images %}
      {% set url = image_base_url ~ img.file %}
      <div class="gallery-item">
        <a href="{{ url }}" data-lightbox="image" >
          <img src="{{ url }}" alt="Galleri bilde" loading="lazy">
        </a>
      </div>
    {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.min.js"></script>
  <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    })
  </script>
{% endblock %}
